albumentations
colour
geopandas
holoviews
bokeh
ipywidgets
ipykernel
jupyterlab
labelme2coco
matplotlib
numpy
opencv-python
opencv-contrib-python
pandas
psutil
pywavelets
rioxarray
rasterio
scikit-image
scikit-learn
scipy
setuptools
spiceypy
tensorboard
torch
torchvision
tqdm
ultralytics
sahi
spiceypy
#segment-geospatial
owslib
segment-anything
